[submodule "third_party/verus"]
	path = third_party/verus
	url = https://github.com/ShawnZhong/verus.git
	branch = main
[submodule "third_party/emsdk"]
	path = third_party/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = 5.0.6
[submodule "third_party/z3"]
	path = third_party/z3
	url = https://github.com/Z3Prover/z3.git
	branch = z3-4.16.0
[submodule "third_party/rust"]
	path = third_party/rust
	url = https://github.com/ShawnZhong/rust.git
	branch = main
[submodule "third_party/browser_wasi_shim"]
	path = third_party/browser_wasi_shim
	url = https://github.com/bjorn3/browser_wasi_shim
[submodule "third_party/rubri"]
	path = third_party/rubri
	url = https://github.com/LyonSyonII/rubri
